<div class="container">

  <quiz-question-image>
  </quiz-question-image>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-1 col-md-offset-1 col-md-1">
      <a>
        <span class="glyphicon glyphicon glyphicon-chevron-left" style="font-size: 75px;" aria-hidden="true"></span>
      </a>
    </div>
    <div class="col-xs-offset-9 col-xs-1 col-md-offset-9 col-md-1">
      <a>
        <span class="glyphicon glyphicon glyphicon-chevron-right" style="font-size: 75px;" aria-hidden="true"></span>
      </a>
    </div>
  </div>

</div>
