<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h1>Overzicht rondes</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2>Klassieke rondes</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4" *ngFor="let round of classicrounds">
      <a [routerLink]="['/classic', round.roundName]">
        <img class="img-circle" style="border: 1px black solid" [src]="getRoundAvatar(round)" width="140" height="140">
      </a>
      <h2>{{round.roundName}}</h2>
      <p>{{getClassicRoundOmschrijving(round.roundName)}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2>Galerij rondes</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4" *ngFor="let round of imagerounds">
      <a [routerLink]="['/image', round.roundName]">
        <img class="img-circle" style="border: 1px black solid" [src]="getRoundAvatar(round)" width="140" height="140">
      </a>
      <h2>{{round.roundName}}</h2>
      <p>{{getImageRoundOmschrijving(round.roundName)}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2>Kruiswoordraadsel rondes</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4" *ngFor="let round of crosswordrounds">
      <a [routerLink]="['/image-crossword', round.roundName]">
        <img class="img-circle" style="border: 1px black solid" [src]="getRoundAvatar(round)" width="140" height="140">
      </a>
      <h2>{{round.roundName}}</h2>
      <p>{{getCrosswordRoundOmschrijving(round.roundName)}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2>Rode draad rondes</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4" *ngFor="let round of rodedraadrounds">
      <a [routerLink]="['/rode-draad', round.roundName]">
        <img class="img-circle" style="border: 1px black solid" [src]="getRoundAvatar(round)" width="140" height="140">
      </a>
      <h2>{{round.roundName}}</h2>
      <p>{{getRodeDraadRoundOmschrijving(round.roundName)}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2>Puzzelrondes</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4" *ngFor="let round of puzzlerounds">
      <a [routerLink]="['/puzzle', round.roundName]">
        <img class="img-circle" style="border: 1px black solid" [src]="getRoundAvatar(round)" width="140" height="140">
      </a>
      <h2>{{round.roundName}}</h2>
      <p>{{getPuzzleRoundOmschrijving(round.roundName)}}</p>
    </div>
  </div>

</div>
