<div class="row">
  <div class="col-xs-offset-3 col-xs-6 col-md-offset-3 col-md-6">
    <a [href]="questionImage" class="thumbnail" target="_blank">
      <img alt="100%x180" data-src="holder.js/100%x180" [src]="questionImage"></a>
  </div>
</div>

<div class="row" *ngIf="!isSolved">
  <div class="col-xs-offset-3 col-xs-9 col-md-offset-3 col-md-9">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="antwoord" [(ngModel)]="resolution">
    </div>
  </div>
  <div class="col-xs-offset-3 col-xs-9 col-md-offset-3 col-md-9">
        <button class="btn btn-default" type="button" (click)="validateAnswer()">Antwoord</button>
  </div>
</div>

<div class="row" *ngIf="!isSolved">
  <div class="col-xs-offset-3 col-xs-9 col-md-offset-3 col-md-9">
        <button class="btn btn-primary btn-lg" type="button" (click)="showHint()">De grote ik-ben-dom-knop</button>
  </div>
  <div *ngIf="showhint" class="col-xs-offset-3 col-xs-9 col-md-offset-3 col-md-9">
        <h2>{{hint}}</h2>
  </div>
</div>

<div class="row" *ngIf="isSolved">
  <div class="col-xs-offset-3 col-xs-6 col-md-offset-3 col-md-6">
    <h3>{{answer[0]}}</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-offset-6 col-xs-4 col-md-offset-6 col-md-4">
    <span *ngIf="isSolved" class="glyphicon glyphicon-ok" style="font-size: 100px;  color: green;"
          aria-hidden="true"></span>
    <span *ngIf="!isSolved" class="glyphicon glyphicon-remove" style="font-size: 100px; color: red;"
          aria-hidden="true"></span>
  </div>
</div>

